:root {
  --font-family-main: "Poppins", sans-serif;
  --font-family-additional: "Inter", sans-serif;

  // размеры
  --container-padding: 20px;
  --navbar-height: 110px;

  // z-index;
  --modal-z-index: 10;

  // box-shadow
  --box-shadow: 0 4px 40px rgb(0 0 0 / 10%);

  // жирность
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // шрифт 12px
  --font-size-3xs: 12px;
  --font-line-3xs: 18px;
  --font-3xs: var(--font-size-3xs) / var(--font-line-3xs);

  // шрифт 14px
  --font-size-2xs: 14px;
  --font-line-2xs: 18px;
  --font-2xs: var(--font-size-2xs) / var(--font-line-2xs);

  // шрифт 16px
  --font-size-xs: 16px;
  --font-line-xs: 24px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs);

  // шрифт 18px
  --font-size-s: 18px;
  --font-line-s: 27px;
  --font-s: var(--font-size-s) / var(--font-line-s);

  // шрифт 20px
  --font-size-m: 20px;
  --font-line-m: 30px;
  --font-m: var(--font-size-m) / var(--font-line-m);

  // шрифт 25px
  --font-size-l: 25px;
  --font-line-l: 38px;
  --font-l: var(--font-size-l) / var(--font-line-l);

  // шрифт 45px
  --font-size-xl: 45px;
  --font-line-xl: 68px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl);

  // шрифт 60px
  --font-size-2xl: 60px;
  --font-line-2xl: 90px;
  --font-2xl: var(--font-size-2xl) / var(--font-line-2xl);

  // шрифт 80px
  --font-size-3xl: 80px;
  --font-line-3xl: 100px;
  --font-3xl: var(--font-size-3xl) / var(--font-line-3xl);

  // media

  --media-phone: 470px;
}
@media screen and (max-width: 640px) {
  :root {
    // шрифт 12px
    --font-size-3xs: 12px;
    --font-line-3xs: 18px;
    --font-3xs: var(--font-size-3xs) / var(--font-line-3xs);
  
    // шрифт 14px
    --font-size-2xs: 14px;
    --font-line-2xs: 18px;
    --font-2xs: var(--font-size-2xs) / var(--font-line-2xs);
  
    // шрифт 16px
    --font-size-xs: 14px;
    --font-line-xs: 21px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs);
  
    // шрифт 18px
    --font-size-s: 18px;
    --font-line-s: 27px;
    --font-s: var(--font-size-s) / var(--font-line-s);
  
    // шрифт 20px
    --font-size-m: 16px;
    --font-line-m: 20px;
    --font-m: var(--font-size-m) / var(--font-line-m);
  
    // шрифт 25px
    --font-size-l: 25px;
    --font-line-l: 38px;
    --font-l: var(--font-size-l) / var(--font-line-l);
  
    // шрифт 45px
    --font-size-xl: 20px;
    --font-line-xl: 30px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl);
  
    // шрифт 60px
    --font-size-2xl: 30px;
    --font-line-2xl: 40px;
    --font-2xl: var(--font-size-2xl) / var(--font-line-2xl);

  
    --media-phone: 470px;
  }
}