.title {
    margin: -30px 0 30px 0;
}

.form {
    height: 56px;
    margin: 10px 0 20px 0;
}

.form_button {
    height: 100%;
    border-left: none;
}

.formControl {
    margin-top: 20px !important;
}

.typography {
    cursor: pointer;
    margin: 0 2px;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: gray;
    }
}
.btn {
    width: 286px;
    margin-top: 15px !important;
}
.stack {
    display: flex;
}
.disconnect {
    margin-top: 30px !important;
}